---
- name: add docker key
  apt_key: keyserver=p80.pool.sks-keyservers.net id=58118E89F3A912897C070ADBF76221572C52609D

- name: add docker repository
  apt_repository: repo="deb https://apt.dockerproject.org/repo ubuntu-trusty main" update_cache=yes state=present

- name: add haproxy ppa
  apt_repository: repo="ppa:vbernat/haproxy-1.5" update_cache=yes state=present

- name: install packages
  apt: name={{ item }} state=present cache_valid_time=3600
  with_items:
    - docker-engine
