---
- name: add do-repo key
  apt_key: url=http://do-repo.x.pifft.com/do-repo.key state=present

- name: add do-repo
  apt_repository: repo="deb [arch=amd64] http://do-repo.x.pifft.com trusty main" update_cache=yes state=present

- name: add docker key
  apt_key: keyserver=p80.pool.sks-keyservers.net id=58118E89F3A912897C070ADBF76221572C52609D

- name: add docker repository
  apt_repository: repo="deb https://apt.dockerproject.org/repo ubuntu-trusty main" update_cache=yes state=present

- name: add haproxy ppa
  apt_repository: repo="ppa:vbernat/haproxy-1.5" update_cache=yes state=present

- name: install packages
  apt: name={{ item }} state=present cache_valid_time=3600
  with_items:
    - docker-engine=1.9.1-0~trusty
    - python-dev
    - python-setuptools
    - etcd

- name: install pip
  easy_install: name=pip

- name: install docker-py
  pip: name=docker-py version=1.7.0

- name: bootstrap docker upstart configuration
  template: src=etc/init/docker-bootstrap.conf.j2 dest=/etc/init/docker-bootstrap.conf
  notify:
    - restart bootstrap docker

- name: bootstrap docker defaults
  template: src=etc/default/docker-bootstrap.j2 dest=/etc/default/docker-bootstrap
  notify:
    - restart bootstrap docker

- name: start docker-bootstrap service
  service: name=docker-bootstrap state=started

- name: etcd
  when: inventory_hostname in groups['master']
  docker:
    name: etcd
    state: reloaded
    docker_url: unix:///var/run/docker-bootstrap.sock
    restart_policy: on-failure
    net: host
    image: gcr.io/google_containers/etcd-amd64:2.2.1
    command: /usr/local/bin/etcd
    env: "{{ etcd_env }}"

- name: check for flannel configuration
  when: inventory_hostname in groups['master.0']
  register: key_check
  changed_when: false
  ignore_errors: true
  command: etcdctl get /coreos.com/network/config

- name: set flannel configuration
  when: (inventory_hostname in groups['master.0']) and (key_check | failed)
  command: >
    etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16", "Backend": { "Type": "vxlan" } }'
