{% macro initial_cluster() -%}
{% for host in groups[etcd_peers_group] -%}
  {% if loop.last %}
{{ hostvars[host]['name'] }}={{ etcd_peer_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_peer_interface]['ipv4']['address'] }}:{{ etcd_peer_port }}
  {%- else -%}
{{ hostvars[host]['name'] }}={{ etcd_peer_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_peer_interface]['ipv4']['address'] }}:{{ etcd_peer_port }},
  {%- endif -%}
{% endfor -%}
{% endmacro %}
{{ initial_cluster() }}
